@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
html {
    width: 100%;
    height: 100%;
    background: url(../src/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Lato;
    color: #fafafa;
}

a {
    color: #fafafa;
}

i {
    color: #fafafa;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat';
    color: #cc01f5;
}

h2 {
    margin-bottom: 5px;
}

small,
label,
input,
select,
option {
    font-family: 'Lato';
}

input,
select {
    border-radius: 10px;
    border: solid 1px gray;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

label {
    font-weight: 900;
}

small {
    font-style: italic;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

input,
select,
textarea {
    width: 100%;
}

#form {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 5%;
}

#form div {
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

small {
    margin-top: 0;
    margin-bottom: 20px;
}

#uputstvo {
    grid-column: 2;
    width: inherit;
    height: 100%;
    animation: slideinLeft .3s ease-in;
}

#general_info,
#education,
#work,
#languages,
#hobbies,
#skills,
#save_cv {
    display: none;
    grid-column: 3;
    width: inherit;
    height: 100%;
}

#check {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#check label {
    display: inline-block;
}

#check input {
    width: 15px;
    height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 0px;
}

textarea {
    overflow-y: scroll;
    resize: none;
    margin-top: 10px;
    border-radius: 10px;
}

button {
    background: none;
    border: solid 1px #fafafa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

#save_cv {
    width: 100%;
    margin-top: 20% !important;
}

#save {
    width: 150px;
    height: 150px;
    margin-left: 40%;
}

#facultyb,
#workb,
#languagesb,
#hobbiesb,
#skillsb {
    flex: 0 1 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#next_section {
    flex: 0 1 auto;
    margin-left: auto;
}

#previous_section {
    flex: 0 1 auto;
    margin-right: auto;
}

@keyframes slideinLeft {
    0% {
        transform: skewX(20deg) translateX(100vw);
    }
    100% {
        transform: skewX(0deg);
    }
}

@keyframes slideoutLeft {
    0% {
        transform: skewX(-20deg)
    }
    100% {
        transform: skewX(0deg) translateX(-100vw);
    }
}

@keyframes slideinRight {
    0% {
        transform: skewX(-20deg) translateX(-100vw);
    }
    100% {
        transform: skewX(0deg);
    }
}

@keyframes slideoutRight {
    0% {
        transform: skewX(20deg)
    }
    100% {
        transform: skewX(0deg) translateX(100vw);
    }
}

@media only screen and (max-width: 600px) {
    #save_cv {
        margin-top: 100% !important;
    }
    #save {
        margin-left: 20%;
    }
}